name: Build GDExtension (Linux)

on:
    workflow_call:

jobs:
    build:
        runs-on: ubuntu-latest #blacksmith-4vcpu-ubuntu-2404
        strategy:
            fail-fast: false
            matrix:
                include:
                    - target: template_debug
                      arch: x86_64
                    - target: template_release
                      arch: x86_64

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
              with:
                  submodules: recursive

            - name: Clone godot-cpp
              run: |
                  git clone --depth 1 --branch 4.5 https://github.com/godotengine/godot-cpp.git godot-cpp

            - name: Install dependencies
              run: |
                  sudo apt-get update
                  sudo apt-get install -y \
                    build-essential \
                    scons \
                    pkg-config \
                    libx11-dev \
                    libxcursor-dev \
                    libxinerama-dev \
                    libxrandr-dev \
                    libxi-dev \
                    libgl1-mesa-dev \
                    libasound2-dev \
                    libpulse-dev \
                    libvulkan-dev \
                    glslc

            - name: Build GDExtension (w/ Vulkan)
              run: |
                  scons target=${{ matrix.target }} arch=${{ matrix.arch }} use_vulkan=yes

            - name: Upload artifact
              uses: actions/upload-artifact@v6
              with:
                  name: whisper-linux-${{ matrix.target }}-${{ matrix.arch }}
                  path: addon/bin/linux/
                  if-no-files-found: error
                  retention-days: 1
